$gap-sm: 10px;
$gap: 20px;
$gap-lg: 30px;
$gap-xl: 40px;
$radius: 5px;
$shadow: 0px 0px 4px 0px #10182840;
$shadow-sm: 0px 0px 2px 0px #10182840;
$font-size-small: 10px;
$font-size: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-xxxl: 48px;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-title: 20px;
$font-subtitle: 18px;
$color-black: #000;
$color-white: #fff;
$color-alt-white: #f8f9ff;
$color-grey: #e0e0e0;
$color-dark-grey: #666;
$color-medium-grey: #ccc;
$color-medium-light-grey: #e7ebf6;
$color-light-grey: #f8f9fb;
$color-red: #e74c3c;
$color-blue: #3078a0;
$advanced-blue: #437ef7;
$link-blue: #0089eb;
$color-success: #249a2a;
$color-error: #e74c3c;
$line-height-100: 100%;
