@use "./variables" as *;
@use "./mixins" as *;

$primary-color: #2bb598;
$secondary-color: #f4873b;
$white: #fff;
$light-grey: #f4f4f4;
$black: #000;

.qms-header {
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border-bottom: 1px solid #eaebf0;
  opacity: 1;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $white;
  color: $black;

  .qms-header-container {
    padding: 19px;

    .qms-header-container-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .qms-header-container-navbar-left {
        display: flex;
        justify-content: left;
        align-items: center;

        .qms-header-container-navbar-brand-name {
          padding-left: 0.6em;
          font-weight: 500;
          font-family: "Roboto";
          font-size: 18px;
          line-height: 24px;
          color: #333333;
        }
      }

      .qms-header-container-navbar-right {
        flex-direction: row;
        display: flex;

        .qms-header-container-navbar-right-content {
          .MuiAvatar-root {
            object-fit: cover;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.4px;
            text-align: center;
            vertical-align: middle;
          }

          .logoutIcon {
            font-size: "medium";
            margin-top: "10px";
            margin-left: "5px";
            cursor: "pointer";
          }
        }
      }
    }
  }
}
