.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  align-items: stretch;
}

// ==================
// Stats Card
// ==================
.statsCard {
  background-color: #fff;
  border: 1px solid #eaebf0;
  border-radius: 12px;
  padding: 16px 20px;
  flex: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.statsHeader {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.iconWrapper {
  width: 53px;
  height: 53px;
  background-color: #eef2ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.totalContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.totalLabel {
  font-size: 14px;
  color: #5f6d7e;
  font-weight: 500;
  line-height: 20px;
}

.totalValue {
  font-size: 28px;
  font-weight: 600;
  color: #272d37;
  line-height: 42px;
}

// Stats Grid
.statsGrid {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: space-between;
}

.statsColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.statRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 8px;
  padding-bottom: 7px;
  padding-top: 4px;
  border-bottom: 1px solid #eaebf0;
}

.statRowLast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
  padding-top: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  flex-shrink: 0;
}

.redDot {
  background-color: #e0301e;
}

.yellowDot {
  background-color: #ffb600;
}

.greenDot {
  background-color: #4eb523;
}

.statLabel {
  font-size: 13px;
  font-weight: 600;
  color: #111827;
  min-width: 227px;
}

.statValue {
  font-size: 12px;
  font-weight: 600;
  color: #111827;
  min-width: 30px;
}

// ==================
// Quick Links Card
// ==================
.quickLinksCard {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px 20px;
  flex: 1;
}

.quickLinksTitle {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  display: block;
  margin-bottom: 24px;
}

.quickLink {
  font-size: 14px;
  color: #0089eb;
  text-decoration: none;
  font-weight: 400;
  display: block;

  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: #1d4ed8;
  }
}
