.supplierPortal {
  width: 100%;
}

.switchReviewer {
  color: #474747;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.headerSection {
  margin-top: 8px;
}

.pageTitle {
  font-size: 28px;
  font-weight: 600;
  color: #272d37;
  margin: 0;
  line-height: 1.3;
}
.pageSummaryTitle {
  font-size: 24px;
  font-weight: 600;
  color: #272d37;
  margin: 0;
  line-height: 1.3;
}

.pageSubtitle {
  font-size: 14px;
  color: #6b7280;
  margin: 4px 0 0 0;
  font-weight: 400;
}

.actions {
  display: flex;
  align-items: center;
}

.addManuallyButton {
  border: 1px solid #437ef7 !important;
  color: #437ef7 !important;
  background-color: #fff !important;
  text-transform: none !important;
  font-weight: 500 !important;
  padding: 8px 16px !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  font-weight: 600 !important;
  height: 40px !important;
  &:hover {
    background-color: #f9fafb !important;
    border-color: #1d4ed8 !important;
  }
}

.plusIcon {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.uploadButton {
  background-color: #fd5108 !important;
  color: #fff !important;
  text-transform: none !important;
  font-weight: 500 !important;
  padding: 8px 20px !important;
  border-radius: 100px !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  font-weight: 600 !important;
  height: 40px !important;
  &:hover {
    background-color: #e95d2a !important;
  }
}

.uploadIcon {
  font-size: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.scnList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 12px;
}

.noResults {
  text-align: center;
  color: #6b7280;
  padding: 40px;
  font-size: 14px;
}

.scnListLabel {
  margin-top: 32px;
  font-weight: 600;
  color: #272d37;
  font-size: 20px;
}
