.breadcrumbs {
  font-size: 14px;
  color: #616161;

  a,
  .link {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }

  a.MuiLink-underlineHover {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.crumbCurrent {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #437EF7;
}