.cardsContainer {
  display: grid;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 0.12);
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  align-items: center;
  justify-content: space-between;
  height: 146px;
  box-sizing: border-box;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 12px;

  h3 {
    font-size: 14px;
    font-weight: 500;
    color: #5f6d7e;
    margin: 0;
    white-space: nowrap;
    line-height: 20px;
    letter-spacing: -0.1px;
    max-width: 65px;
    text-wrap: auto;
  }
}

.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.cardValue {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -1%;
  color: #272d37;
}

.legendColumnComplaints {
  flex: 0 1 272px;
  min-width: 140px;
  box-sizing: border-box;
  margin-left: 8px;
}

.legendColumnDeviations {
  flex: 0 1 170px;
  min-width: 140px;
  box-sizing: border-box;
  margin-left: 8px;
}

.legendItem {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 8px;
  align-items: center;
  height: 38px;
  padding: 0;
  width: 100%;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;

  &:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }

  &:only-child {
    border-bottom: 1px solid #e0e0e0;
  }
}

.legendValue {
  color: #222;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #000000;
  text-align: right;
  min-width: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 3px;
}

.dotPending {
  background-color: #0060d7;
}

.dotProcessed {
  background-color: #4eb523;
}

.dotOverdue {
  background-color: #e0301e;
}

.dotWithText {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #000000;
  min-width: 0;
  overflow: hidden;
}

.dotWithText > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
