.cardsContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 0.12);
  flex: 1 1 0%;
  max-width: none;
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  align-items: center;
  justify-content: space-between;
  height: 146px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 12px;

  h3 {
    font-size: 14px;
    font-weight: 500;
    color: #5F6D7E;
    margin: 0;
    white-space: nowrap;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.cardValue {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -1%;
  color: #272D37;
}

.legendColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.legendItem {
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: #000000;
  white-space: nowrap;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;

  &:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }

  &:only-child {
    border-bottom: 1px solid #e0e0e0;
  }
}

.legendValue {
  color: #222;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #000000;
}

.dot {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 3px;
}

.dotPending {
  background-color: #0060D7;
}

.dotProcessed {
  background-color: #4EB523;
}

.dotOverdue {
  background-color: #E0301E;
}

.dotWithText {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #000000;
}