.breadcrumbs {
  font-size: 14px;
  color: #616161;

  a {
    text-decoration: none;
    cursor: pointer;
    color: #1976d2;
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

.link {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #5F6D7E !important;
  cursor: pointer;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.crumbCurrent {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #437EF7;
}