.breadcrumbs {
  font-size: 14px;
  margin-bottom: 12px;
  color: #555;
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.link {
  color: #000;
  /* MUI primary */
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;

  &:hover {
    text-decoration: underline;
  }
}

.crumbCurrent {
  font-weight: 600;
  color: #1976d2;
}