.complaintsEmptyStateContainer {
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 1px 0px #00000040;
  background-color: #fff;

  .emptyStateImportButton {
    border-radius: 4px;
    padding: 8px 14px;
    background-color: #fff;
    box-shadow: 0px 1px 0px 0px #0000000d;
    border: 1px solid #bbbfc3;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #202223;
    text-transform: none;
    &:hover {
      border: 1px solid #bbbfc3;
    }
  }
}
