.complaintsCardContainer {
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  gap: 16px;
  padding: 16px 20px;
  background-color: #ffffff;
  border: 1px solid #eaebf0;
}

.chipBase {
  border-radius: 5px;
  gap: 4px;
  padding: 4px 12px;
}

.productComplaintsChip {
  @extend .chipBase;
  color: #437ef7;
  background-color: #f5faff;
}

.adverseEventChip {
  @extend .chipBase;
  color: #eea23e;
  background-color: #fff8eb;
}

.rootBox {
  min-height: 100vh;
}

.gridWithMarginTop {
  margin-top: 16px;
}
