.complaintsFilterCard {
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  gap: 16px;
  padding: 16px 20px;
  background-color: #ffffff;
  border: 1px solid #eaebf0;

  /* New styles for TextField search */
  .searchField {
    width: 43%;

    & .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  /* New styles for Select fields */
  .selectField {
    width: 15%;

    & .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  /* Buttons */
  .searchButton {
    border-radius: 5px;
    padding: 10px 16px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px #1018280a;
    border: 1px solid #dae0e6;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #272d37;
    text-transform: none;
    width: 11%;

    &:hover {
      border: 1px solid #dae0e6;
    }
  }

  .moreFilterButton {
    border-radius: 5px;
    padding: 0 5px;
    background-color: #fff;
    border: 1px solid #dcdbdd;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    text-transform: none;
    color: #838486;

    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      border: 1px solid #dcdbdd;
    }

    img {
      display: inline-block;
    }
  }
}