.tabsContainer {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.tabs {
  display: flex;
  width: 100%;
}

.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  color: #858585;
  padding: 12px 0 8px;
  position: relative;
  transition: color 0.2s ease;
  gap: 8px;
}

.tab:hover {
  color: #2962ff;
}

.tab.active {
  color: #2962ff;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* span entire tab width */
  height: 3px;
  background-color: #2962ff;
  border-radius: 3px 3px 0 0;
}

.tabContent {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.1px;
  padding-bottom: 6px;
}

.label {
  white-space: nowrap;
}

.count,
.countActive {
  display: inline-block;
  font-size: 12px;
  min-width: 34px;
  height: 20px;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;
 
}

.count {
  background-color: #e0e0e0;
  color: #858585;
 
}

.countActive {
  background-color: #2962ff;
  color: white;
 
}