@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.investigationSummary {
  padding: 16px;
  border-radius: 16px !important;
  height: 78vh;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 16px;
    justify-content: space-between;
  }

  .headerText {
    font-weight: $font-weight-light;
    font-size: 20px;
    line-height: 28px;
    color: #202123;
    margin: 0;
    font-family: inherit !important;
  }

  .subText {
    font-weight: $font-weight-light;
    font-size: 14px;
    line-height: 20px;
    color: #6d7175;
    margin: 0;
    font-family: inherit !important;
    text-align: center;
  }

  .emptyState {
    margin-top: 25%;
    margin-bottom: 10%;
  }

  .emptyStateImage {
    width: 160px;
    height: 160px;
    margin-bottom: 5%;
  }

  .title {
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
    vertical-align: bottom;
    color: #474747;
    font-family: inherit !important;
  }

  .addBtn {
    font-family: inherit;
    text-transform: none;
    font-size: 14px;
    font-weight: $font-weight-medium;
    color: #202223;
    padding: 10px;
    width: 128px;
    height: 36px;
    justify-content: space-between;
    border: 1px solid #babfc3;
    border-radius: 4px;
  }

  .btn {
    font-family: inherit !important;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 36px;
  }

  .btnCancel {
    @extend .btn;
    width: 83px;
    border: 1px solid #dae0e6;
    color: #272d37;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
    &:hover {
      border-color: #bac3d2;
      background-color: rgba(218, 224, 230, 0.1);
    }
  }

  .btnSubmit {
    @extend .btn;
    width: 99px;
    background-color: $link-blue;
    color: white;
    border: none;
    transition: background-color 0.3s;
    &:hover {
      background-color: #0076cc;
    }
  }

  .textarea {
    width: 100%;
    min-height: 300px;
    max-height: 300px; /* limit max height */
    resize: none;
    padding: 8px 14px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y: auto; /* enable textarea scroll if too tall */
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: $font-weight-light;
    outline-offset: -2px;
    margin-top: 16px;

    &:focus {
      border-color: $link-blue;
      outline: 2px solid $link-blue;
    }
  }

  .body {
    font-weight: $font-weight-light;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    color: #696969;
    white-space: pre-line;
    overflow-y: auto;
    padding: 16px;
    max-height: 552px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: 0;
    margin-top: 16px;
    @include Scrollbar;
  }
}
