$gap-sm: 10px;
$gap: 20px;
$gap-lg: 30px;
$gap-xl: 40px;
$radius: 5px;
$shadow: 0px 0px 4px 0px #10182840;
$shadow-sm: 0px 0px 2px 0px #10182840;
$font-size: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-weight-bold: 600;
$font-title: 20px;
$font-subtitle: 18px;
$color-black: #000;
$color-white: #FFF;
$color-alt-white: #F8F9FF;
$color-grey: #E0E0E0;
$color-dark-grey: #666;
$color-medium-grey: #CCC;
$color-medium-light-grey: #E7EBF6;
$color-light-grey: #F8F9FB;
$color-red: #E74C3C;
$color-blue: #3078A0;
$color-success: #249A2A;
$color-error: #E74C3C;
