$primary-color: #2bb598;
$secondary-color: #f4873b;
$white: #fff;
$light-grey: #f4f4f4;
$black: #000;

.pca-header {
    height: 65px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    opacity: 1;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $white;
    color: $black;

    .pca-header-container {
        padding: 17px;

        .pca-header-container-navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .pca-header-container-navbar-left {
                display: flex;
                justify-content: left;

                .pca-header-continer-navbar-brand-logo {
                    border-right: 2px solid #E6E7EB;
                    padding-right: 1.2em;

                    .brandLogo{
                        width: 50px;
                    }
                }

                .pca-header-continer-navbar-brand-name {
                    padding-left: 1em;
                    padding-top: 5px;
                    font-weight: 700;

                    text-align: left;
                    font-size: large;
                    // font: normal normal 900 20px/24px;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                }
            }

            .pca-header-container-navbar-right {
                flex-direction: row;
                display: flex;

                .pca-header-container-navbar-right-content {
                    display: flex;

                    .pca-header-search {
                        border-right: 2px solid #E6E7EB;
                        padding-right: 3rem;
                    }

                    .pca-header-notification {
                        padding-left: 3rem;
                        padding-right: 2em;
                    }

                    .MuiAvatar-root {
                        height: 32px;
                        width: 32px;
                        margin-top: 3px;
                    }

                    .pca-header-user-details {
                        padding-top: 3px;
                        padding-left: 0.6rem;

                        .pca-header-user-details-name {
                            text-align: left;
                            letter-spacing: -0.11px;
                            color: #26282B;
                            opacity: 1;
                            margin-top: 8px;
                            font-size: small;
                            font-weight: 800;
                        }

                        .pca-header-user-details-title {

                            font: normal normal normal 14px/17px;
                            letter-spacing: 0px;
                            color: #707070;
                            opacity: 1;

                            font-size: small;
                            font-weight: 400;
                        }
                    }

                    .pca-header-arrow {
                        padding-right: 1.1rem;
                        padding-left: 1rem;
                        margin-top: 5px;
                    }

                    .logoutIcon {
                        font-size: 'medium';
                        margin-top: '10px';
                        margin-left: '5px';
                        cursor: 'pointer';
                    }
                }
            }
        }


    }
}